@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme variables */
    --background: #ffffff;
    --foreground: rgba(0, 0, 0, 0.8);

    --card: #ffffff;
    --card-foreground: rgba(0, 0, 0, 0.8);

    --popover: #ffffff;
    --popover-foreground: rgba(0, 0, 0, 0.8);

    --primary: #3584e4;
    --primary-foreground: #ffffff;

    --secondary: #ebebeb;
    --secondary-foreground: rgba(0, 0, 0, 0.8);

    --muted: #ebebeb;
    --muted-foreground: rgba(0, 0, 0, 0.46);

    --accent: #3584e4;
    --accent-foreground: rgba(0, 0, 0, 0.8);

    --destructive: #e63946;
    --destructive-foreground: #ffffff;

    --border: RGB(0 0 0 / 7%);
    --input: #ffffff;
    --ring: #3584e4;
    --radius: 0.5rem;
  }

  .dark {
    /* Dark theme variables */
    --background: 0 0% 12%;
    --foreground: 0 0% 98%;

    --card: 0 0% 22%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 22%;
    --popover-foreground: 0 0% 98%;

    --primary: 211 78% 58%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 28%;
    --secondary-hover: 0 0% 32%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 40%;
    --accent-hover: 0 0% 45%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 211 78% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Noto Sans Medium", sans-serif;
  }
}

.topbar-menu-transition {
  @apply transition-all duration-300 ease-in-out;
}
